:root {
  --color1: #fefefe;
  --color2: #e7ebed;
  --accent1: #4e5960;
  --accent2: #162832;
  --accent3: #4f42f7;
  --accent4: #f0362d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.45;
}
body {
  display: grid;
  place-items: center;
}
header {
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--color1);
  z-index: 100;
  position: sticky;
  padding: 20px 0px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* padding: 20px 100px; */
}
.logo {
  font-size: 38px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--accent2);
  text-transform: uppercase;
  font-weight: 700;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 80px; */
}
.navbar > a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--accent2);
  margin-left: 20px;
  text-wrap: nowrap;
  transition: .3s ease-in-out;
  padding: 20px;
  cursor: pointer;
}
.navbar > a:hover {
  background: var(--accent4);
   color: var(--color1);
}

/* .container*/
.container {
  /* max-width: 1050px; */
}

.slider {
  width: 100%;
  height: 45vh;
  position: relative;
  display: flex;
}
.slider > img {
  width: 100%;
  height: 100%;
  image-orientation: from-image;
  object-position: center;
  object-fit: cover;
  filter: brightness(80%);
}
.slider-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 70px 400px;
  gap: var(--gap, 1.5em);
}
.slider-overlay > h1{
  font-size: 5vh;
  color: var(--accent2);
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}
.slider-overlay > p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color1);
  letter-spacing: 1.4px;
  text-align: center;
}
.slider-overlay > button {
  border: none;
  border-radius: 10px;
  background-color: #f0372db6;
  color: var(--color2);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  text-transform: capitalize;
  font-weight: 600;
  padding: 15px 30px;
  outline: none;
}

/* about section */
.about {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.about p {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--accent1);
  text-align: start;
}
.about > img {
  width: 100%;
  height: 25vh;
  object-fit: cover;
  object-position: center;
  align-self: flex-end;
}